* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 90vh;
  background-color: #333;
  background-image: url(images/bg.jpg);
  background-size: cover;
}

img {
  display: none;
}

.container {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start_game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url(images/start_game_bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.start_game #startBtn {
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-weight: bold;
  font-family: Arcade;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s;
}
.start_game #startBtn:hover {
  color: rgb(250, 228, 31);
}

#myCanvas {
  border: 1px solid white;
}

.msc #musicIcon {
  display: block;
}

.msc {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
